@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
PROJECT COLORS:
Green: #A4AC58
White
Black
*/

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/home.jpeg");
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 60px; /* Adjust based on footer height */
}

.body img {
    width: 100%;
    height: auto;
}

.top-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-box .column, .bottom-box .column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.center-title {
    flex-basis: 100%;
    text-align: center;
}

.top-box .column p {
    margin-top: 10px;
}

.bottom-box .column img {
    max-width: 125%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.title-about {
    padding-top: 15%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #8EBF42; /* Default to green-footer color */
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.social-icons {
    margin-left: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Green footer style */
.green-footer {
    background-color: #A4AC58;
    color: white;
}

/* Black footer style */
.black-footer {
    background-color: black;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    border-bottom: 2px solid #000;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 2px solid #000;
    font-weight: bold;
}

#navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px 40px;
    background-color: #A4AC58;
    font-weight: bold;
}

#my-navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#my-navbar .logo img {
    width: 100px;
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.my-project {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.my-project img {
    width: 100%;
    height: auto;
    display: block;
}

.my-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bfcc6c90; /* Green color with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 5px;
}

.my-overlay p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.my-project:hover .my-overlay {
    opacity: 1;
}

